<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/show.css">
    <link rel="stylesheet" href="css/youtube.css">
    <link rel="stylesheet" href="css/stackoverflow.css">
    <link rel="stylesheet" href="css/googlesearch.css">
    <link rel="stylesheet" href="css/github.css">
    <link rel="stylesheet" href="css/timeline.css">
</head>

<body>

    <div class="timeline">
        <div class="timeline-btn-box" id="timeline-btn-box">
            <button class="btn-border" id="btn-yt"></button>
            <button class="btn-border" id="btn-st"></button>
            <button class="btn-border" id="btn-gs"></button>
            <button class="btn-border" id="btn-gh"></button>
        </div>
        <div class="timeline-content-box">

            <div class="window scrollbar active" id="component-yt">
                <div class="inner-window">
                    <div class="inner-window-header">
                        <img class="icon" src="images/youtube.svg" alt="youtube icon">
                        <h2> Youtube Search Results : </h2>
                    </div>
                    <div class="inner-window-yt">
                        <% if(results.youtube.length === 0) {%>
                        <h2>No results found on youtube</h2>
                        <% } %>

                        <% for(let i = 0; i < results.youtube.length; i++) { %>
                        <div class="card-yt-outer">
                            <div class="card-yt">
                                <a href="https://www.youtube.com/watch?v=<%= results.youtube[i].id %> ">
                                    <img class="card-yt-img" src="<%= results.youtube[i].imgUrl %> " alt="Thumbnail">
                                </a>
                                <div class="card-yt-description">
                                    <p class="card-yt-content">
                                        <%- results.youtube[i].title %>
                                    </p>
                                    <span class="card-yt-content-time"><%= results.youtube[i].time %></span>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>

                </div>
            </div>

            <div class="window scrollbar inactive" id="component-st">
                <div class="inner-window">
                    <div class="inner-window-header">
                        <img class="icon-st" src="images/stackoverflow.svg" alt="stackoverflow icon">
                        <h2>StackOverflow Search Results : </h2>
                    </div>
                    <% if(results.stackoverflow.length === 0) {%>
                    <h2>No results found on Stack Overflow</h2>
                    <% } %>

                    <div class="inner-window-st">
                        <% for(let i = 0; i < results.stackoverflow.length; i++) { %>
                        <div class="card-st">
                            <a href="<%= results.stackoverflow[i].url %>">
                                <%- results.stackoverflow[i].title %>
                            </a>
                            <div class="card-st-tags-list">
                                <!-- tags : -->
                                <% for(let tag of results.stackoverflow[i].tags) {%>
                                <span class="card-st-tags"><%= tag %> </span>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                    </div>


                </div>
            </div>

            <div class="window scrollbar inactive" id="component-gs">
                <div class="inner-window">

                    <div class="inner-window-header">
                        <img class="icon" src="images/googlesearch.svg" alt="stackoverflow icon">
                        <h2>Google Search Results : </h2>
                    </div>

                    <!-- <h2>Google Search Results : </h2> -->
                    <% if(results.googleSearch.length === 0) {%>
                    <h2>No results found on Google</h2>
                    <% } %>

                    <div class="canvas-gs">
                        <% for(let i = 0; i < results.googleSearch.length; i++) { %>
                        <div class="card-gs">
                            <a href="<%= results.googleSearch[i].url %>">
                                <%= results.googleSearch[i].title %>
                            </a>
                            <% if(results.googleSearch[i].description !== null){ %>
                            <p>
                                <%= results.googleSearch[i].description %>
                            </p>
                            <% } %>
                        </div>
                        <% } %>
                    </div>

                </div>
            </div>

            <div class="window scrollbar inactive" id="component-gh">
                <div class="inner-window">

                    <div class="inner-window-header">
                        <img class="icon" src="images/github.svg" alt="Github icon">
                        <h2>Github Search Results : </h2>
                    </div>

                    <% if(results.github.length === 0) {%>
                    <h2>No results found on Github</h2>
                    <% } %>
                    <div class="inner-window-gh">
                        <% for(let i = 0; i < results.github.length; i++) { %>
                        <div class="card-gt">
                            <a href="<%= results.github[i].url %>">
                                <%= results.github[i].title %>
                            </a>
                            <!-- <% if(results.github[i].description !== null){ %> -->
                            <p class="card-gh-content">
                                <%= results.github[i].description   %>
                            </p>
                            <!-- <% } %> -->
                        </div>
                        <% } %>



                        <!-- <div class="grid">
                                            <div class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sapiente unde. Natus ad neque sequi quibusdam, consequatur sapiente quam eos atque consectetur iusto qui ducimus quisquam blanditiis! Quam, corporis
                                                facilis.</div>
                                            <div class="grid-item">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere odit in, labore laboriosam ullam perspiciatis reprehenderit asperiores modi error ea obcaecati laborum voluptatem nemo optio? Maiores, cupiditate
                                                quaerat? Ea, necessitatibus.
                                            </div>
                                            <div class="grid-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis neque consectetur maiores in soluta nulla cumque vero, facere non dolorum quisquam enim, nam aspernatur, similique exercitationem quam praesentium
                                                laboriosam incidunt.</div>
                                            <div class="grid-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis neque consectetur maiores in soluta nulla cumque vero, facere non dolorum quisquam enim, nam aspernatur, similique exercitationem quam praesentium
                                                laboriosam incidunt.</div>
                                            <div class="grid-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis neque consectetur maiores in soluta nulla cumque vero, facere non dolorum quisquam enim, nam aspernatur, similique exercitationem quam praesentium
                                                laboriosam incidunt.</div>
                                            <div class="grid-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis neque consectetur maiores in soluta nulla cumque vero, facere non dolorum quisquam enim, nam aspernatur, similique exercitationem quam praesentium
                                                laboriosam incidunt.</div>
                                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="js/result.js"></script>

</body>

</html>
